<%- include('./partials/head' , {current: '/detail' }) %>

    <main>
        <section>
            <h2 class="faqH2">FAQ</h2>
            <article class="faqA">
                Ben je op zoek naar antwoorden op veelgestelde vragen over het indienen, beheren of vinden van
                buurtprojecten op onze website? Je bent op de juiste plek! Hier hebben we een verzameling van
                veelgestelde vragen samengesteld om je te helpen bij het navigeren door ons platform en het optimaal
                benutten van de mogelijkheden ervan.
            </article>
        </section>
        <section>
            <details class="firstDetail">
                <summary>Hoe kan ik een nieuw buurtproject toevoegen?</summary>
                Om een nieuw buurtproject toe te voegen, ga naar de pagina "Project Insturen" en vul het formulier in
                met de nodige informatie over je project.
            </details>
            <details>
                <summary>Zijn er kosten verbonden aan het plaatsen van een buurtproject op de website?</summary>
                Nee, het plaatsen van een buurtproject op onze website is volledig gratis.
            </details>
            <details>
                <summary>Hoe lang duurt het voordat mijn buurtproject zichtbaar wordt op de website nadat ik het heb
                    ingediend?</summary>
                We streven ernaar om buurtprojecten binnen 1-2 werkdagen na indiening te beoordelen en te plaatsen op
                onze website.
            </details>
            <details>
                <summary>Kan ik mijn buurtproject bewerken of verwijderen nadat het is ingediend?</summary>
                Ja, je kunt contact met ons opnemen om wijzigingen aan te brengen in je buurtproject of om het te
                verwijderen indien nodig.
            </details>
            <details>
                <summary>Zijn er specifieke richtlijnen waaraan mijn buurtproject moet voldoen voordat het wordt
                    geaccepteerd?</summary>
                Ja, we hebben richtlijnen voor buurtprojecten om ervoor te zorgen dat ze relevant en passend zijn voor
                onze website. Deze richtlijnen worden verstrekt tijdens het indienen van een project.
            </details>
            <details>
                <summary>Hoe kan ik contact opnemen met de beheerders van de website als ik vragen heb over mijn
                    buurtproject?</summary>
                Je kunt ons altijd bereiken via het contactformulier op onze website of via het opgegeven e-mailadres
                voor eventuele vragen of opmerkingen.
            </details>
            <details>
                <summary>Worden buurtprojecten gemodereerd voordat ze op de website worden geplaatst? Zo ja, wat zijn de
                    criteria voor goedkeuring?</summary>
                Ja, alle buurtprojecten worden gemodereerd voordat ze worden geplaatst om te voldoen aan onze
                richtlijnen. De criteria voor goedkeuring omvatten onder andere relevantie voor de buurt, legaliteit en
                geschiktheid.
            </details>
            <details>
                <summary>Kan ik zoeken naar buurtprojecten in mijn omgeving op de website?</summary>
                Ja, op onze website kun je buurtprojecten filteren op locatie, zodat je projecten in jouw omgeving kunt
                bekijken.
            </details>
            <details>
                <summary>Zijn er beoordelingen of beoordelingen beschikbaar voor buurtprojecten op de website?</summary>
                Ja, gebruikers kunnen beoordelingen en reacties achterlaten op buurtprojecten om hun ervaringen te delen
                en anderen te informeren.
            </details>
            <details>
                <summary>Hoe vaak worden de buurtprojecten op de website bijgewerkt?</summary>
                We streven ernaar om onze website regelmatig bij te werken met nieuwe buurtprojecten en informatie. De
                frequentie van updates kan variëren, maar we proberen projecten zo snel mogelijk toe te voegen na
                beoordeling.
            </details>
        </section>
    </main>

    <%- include('./partials/foot') %>