<%- include('./partials/head' , {current: '/' }) %>

    <main>
        <h1 class="insturenH1">Project insturen</h1>
        <article class="projectenArticle">
            Op onze website over buurtprojecten maken we het eenvoudig voor buurtbewoners om hun projecten in te dienen
            en te delen met de gemeenschap. <br><br>

            Hier is hoe je jouw project kunt indienen: <br>

            1. Registreren of inloggen: Voordat je een project kunt indienen, moet je een account aanmaken op onze
            website. Als je al een account hebt, kun je gewoon inloggen. <br><br>

            2. Projectdetails invullen: Nadat je bent ingelogd, kun je een nieuw project indienen. Vul eenvoudigweg
            alle vereiste informatie in, zoals de naam van het project, een beschrijving, de locatie, de start- en
            einddatum, en eventuele andere relevante details. <br><br>

            3. Afbeeldingen toevoegen: Voeg afbeeldingen toe om je project te illustreren. Dit kan helpen om de
            aandacht te trekken en buurtbewoners te inspireren om deel te nemen. <br><br>

            4. Categorieën selecteren: Kies de relevante categorieën voor jouw project, zoals feesten, natuur,
            sport, kunst, educatie, enzovoort. Dit helpt andere gebruikers om projecten te vinden die hen interesseren.
            <br><br>

            5. Indienen: Zodra alle informatie is ingevuld en de afbeeldingen zijn toegevoegd, kun je jouw project
            indienen. Ons team zal het project bekijken en goedkeuren voordat het wordt gepubliceerd op de website.
            <br><br>

            6. Promoten: Na goedkeuring wordt jouw project gepubliceerd en kunnen andere buurtbewoners het bekijken
            en eraan deelnemen. Moedig anderen aan om deel te nemen door jouw project te delen op sociale media of
            lokale gemeenschapskanalen. <br><br>

            Op deze manier bieden we een platform waar buurtbewoners hun ideeën en initiatieven kunnen delen en
            samenwerken aan het verbeteren van onze gemeenschap.
        </article>
        <h2 class="insturenH2">Selecteer hieronder het type project dat je wilt indienen:</h2>
        <section class="linkvraag-aanbod">
            <a class="vraagbtn" href="/vraag">Vraag insturen</a>
            <a class="aanbodbtn" href="/aanbod">Aanbod insturen</a>
        </section>

    </main>

    <%- include('./partials/foot') %>